<!-- Table of all runs -->
<div class="jumbotron-fluid">
  <h1 class="titleJumbo">Trail Run Tracker  <span class="badge badge-secondary">{{totalDistance | number}} Total Miles Logged</span></h1>
</div>
<div *ngIf="!selected" class="container-fluid">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Trail Name</th>
        <th>Location</th>
        <th>Distance</th>
        <th>Trail Type</th>
        <th>Date</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let run of trailRuns" class="table-secondary">
        <th scope="row" (click)="displayRun(run)">{{run.trailName}}</th>
        <td>{{run.location}}</td>
        <td>{{run.distance}}</td>
        <td>{{run.trailType | titlecase }}</td>
        <td>{{run.date}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteRun(run)">X</button>
        </td>
      </tr>
      <p id="updateLine">
        Click a Trail Run to update it!
      </p>
    </tbody>
  </table>
  <button class="btn btn-success" [routerLink]="['/addrun']">Add Run</button>
</div>

<!-- View for individual run if selected as prefilled Form -->
<div *ngIf="selected && editRun" class="container-fluid">
  <form class="editForm">
    <div class="form-group">
      <label for="trailName">Trail Name</label>
      <input class="form-control" type="text" name="trailName" [(ngModel)]="editRun.trailName">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input class="form-control" type="text" name="location" [(ngModel)]="editRun.location">
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input class="form-control" type="text" name="date" [(ngModel)]="editRun.date">
    </div>
    <div class="form-group">
      <label for="totalTime">Total Time</label>
      <input class="form-control" type="text" name="totalTime" [(ngModel)]="editRun.totalTime">
    </div>
    <div class="form-group">
      <label for="distance">Distance</label>
      <input class="form-control" type="number" step="0.01" name="distance" [(ngModel)]="editRun.distance">
    </div>
    <div class="form-group">
      <label for="trailType">Trail Type</label><br>
      <select name="trailType" [(ngModel)]="editRun.trailType">
        <option value='LIGHT'>Light</option>
        <option value='MODERATE'>Moderate</option>
        <option value='RUGGED'>Rugged</option>
      </select>
      <br><br>
      <button class="btn btn-primary" (click)="updateRun(editRun)">Update Run</button>
      <button class="btn btn-warning" (click)="goBack()">Go Back</button>
    </div>
  </form>
</div>

<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{ closeResult }}</pre> -->


